# -----------------
# Python
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
.venv/
venv/

# environment variables
.env

# -----------------
# Next.js / Node
# -----------------
node_modules/
.next/
npm-debug.log*
*.tsbuildinfo

# -----------------
# IDE
# -----------------
.vscode/
.idea/

# -----------------
# OS
# -----------------
.DS_Store
Thumbs.db